/* This is the StyleCatcher theme addition. Do not remove this block. */
@import url(blog.css);
@import url(grey.css);
/* end StyleCatcher imports */

body {color: #ffffff}
#container-inner, #content {background-color: #000000}
h2 {
  border-left: 4px solid #0593E2;
  padding-left: 6px;
  font-size: 18px;
}
h3 {
  border-left: 4px solid #0593E2;
  padding-left: 6px;
  font-size: 15px;
}
pre {
  background-color: #444444;
  margin-top: 1em;
  margin-right: 0px;
  margin-bottom: 1em;
  margin-left: 0px;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  white-space: pre-wrap;
  word-wrap: break-word;
}


